{% if section.settings.display %}
<section id="section-{{ section.id }}" class="{% if section.settings.container_type == 'padding-medium'%} padding-medium{% elsif section.settings.container_type == 'padding-large'%} padding-large {% else %} padding-small{% endif %}">
    <div class="container-medium">
      {% assign productDescription = product.description | split:"<!-- split -->"%}
      <div class='toggle'> 
        <div class='tabs'>
        {% for block in section.blocks %}
          <div class='tab {% if forloop.first %} active {% endif %}'>{{ block.settings.title }}</div>
        {% endfor %}
        </div>
        <div class='panels'>
        {% for block in section.blocks %}
        {% if block.type == 'description' %} 
          <div class='panel'>
              <!-- {{ productDescription | first }} -->
              <div class="grid">
                <div class="1/2--lap-and-up grid__cell">
                  <img src="{{ product.metafields.product.image_legende }}" alt="{{ product.metafields.product.image_legende.alt }}"> 
                </div> 
                <div class="1/2--lap-and-up grid__cell">
                  <div class="tabs__metafields-text">
                    {{ product.metafields.product.description_legende }}
                  </div>                
                </div>
              </div>            
          </div> 
        {% elsif block.type == 'features' %}   
           <div class='panel'>
               <!-- {{ productDescription[1] }} -->
               <div class="grid">
                 <div class="1/2--lap-and-up grid__cell">
                   <div class="tabs__metafields-text">
                    {{ product.metafields.product.description_avion }}
                  </div>
                 </div>
                 <div class="1/2--lap-and-up grid__cell">
                  <img src="{{ product.metafields.product.image_avion }}" alt="{{ product.metafields.product.image_avion.alt }}">                  
                 </div>
               </div>   
           </div> 
        {% elsif block.type == 'designer' %}    
           <div class='panel'> 
               <!-- {{ productDescription | last }} -->
               <div class="grid">
                 <div class="1/2--lap-and-up grid__cell">                   
                  <img src="{{ product.metafields.product.image_designer }}" alt="{{ product.metafields.product.image_designer.alt }}"> 
                 </div>  
                 <div class="1/2--lap-and-up grid__cell">
                  <div class="tabs__metafields-text">
                   {{ product.metafields.product.description_designer }}
                  </div>  
                 </div> 
              </div>
            </div> 
        {% endif %}
        {% endfor %}
        </div>
    </div> 
  </div>
</section>
<style>
   #section-{{ section.id }} .toggle .tabs .tab.active {
      background-color: {{ section.settings.bg-color }};
   }

   #section-{{ section.id }} .toggle {
      background-color: {{ section.settings.bg-color }};
    }

   #section-{{ section.id }} .toggle .tabs .tab,
   #section-{{ section.id }} .tabs__metafields-text {    
       color: {{ section.settings.color }}; 
    }

</style>
<script>

(function() {
  $(function() {
    var toggle;
    return toggle = new Toggle('.toggle');
  });

  this.Toggle = (function() {
    Toggle.prototype.el = null;

    Toggle.prototype.tabs = null;

    Toggle.prototype.panels = null;

    function Toggle(toggleClass) {
      this.el = $(toggleClass);
      this.tabs = this.el.find(".tab");
      this.panels = this.el.find(".panel");
      this.bind();
    }

    Toggle.prototype.show = function(index) {
      var activePanel, activeTab;
      this.tabs.removeClass('active');
      activeTab = this.tabs.get(index);
      $(activeTab).addClass('active');
      this.panels.hide();
      activePanel = this.panels.get(index);
      return $(activePanel).show();
    };

    Toggle.prototype.bind = function() {
      var _this = this;
      return this.tabs.unbind('click').bind('click', function(e) {
        return _this.show($(e.currentTarget).index());
      });
    };

    return Toggle;

  })();

}).call(this);

</script>


{% endif %}

{% schema %}
     {
       "name": "Product tabs",
       "settings": [ 
          {
              "type": "checkbox",
              "id": "display",
              "label": "Display section ?",
              "default": true
          }, 
          {
           "type":      "select",
           "id":        "container_type",
           "label":     "Container type",
            "options": [
                 {
                   "value": "padding-small",
                   "label": "padding-small"
                 },
                 {
                    "value": "padding-medium",
                    "label": "padding-medium"
                 }, 
                 {
                   "value": "padding-large",
                   "label": "padding-large"
                 } 
               ],
               "default":   "padding-small", 
               "info":      "Spacing for the section"
            },
            {
              "type": "header",
              "content": "Tab styles"  
           }, 
            {
              "type": "color",
              "id": "bg-color",
              "label": "Tab color",
              "default": "#ededed"   
           },
            {
              "type": "color",
              "id": "color",
              "label": "Text color",
              "default": "#777777"  
           }  

       ],
       "blocks": [
              {
               "type": "description",
               "name": "Description",
               "limit": 1,
               "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title",
                        "default": "Description"
                    },
                    {
                        "type":      "paragraph",
                        "content":   "Content comes from metafields legende"
                     }
               ]
             },
             {
                "type": "features",
                "name": "Features", 
                "limit": 1,
                "settings": [
                     {
                         "type": "text",
                         "id": "title",
                         "label": "Title",
                         "default": "Features" 
                     },
                     {
                         "type":      "paragraph",
                         "content":   "Content comes from metafields avion"
                      } 
                ]
              },   
              {
                "type": "designer",
                "name": "Designer",
                "limit": 1,
                "settings": [
                     {
                         "type": "text",
                         "id": "title",
                         "label": "Title",
                         "default": "Designer"
                     }, 
                     {
                         "type":      "paragraph",
                         "content":   "Content comes from metafields designer"
                      }
                ]
              }
              
       ]
     }
     {% endschema %}
     